{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["module-resolver",  { "root": ["./src"] } ],
        ["babel-plugin-inline-import", {
            "extensions": [
                ".json",
                ".glsl",
                ".gltf",
                ".css"
            ]
        }],
        ["@babel/plugin-transform-runtime"],
        ["minify-replace", {
            "replacements": [{
                "identifierName": "__DEBUG__",
                "replacement": {
                    "type": "booleanLiteral",
                    "value": false
                }
            }]
        }],
        ["minify-dead-code-elimination"]
    ]
}
