# NOTE: we don't include IDE-specific files (e.g. IntelliJ's *.iml and .idea/) on-purpose.
# Those patterns should go in a global gitignore or repository-specific excludes.
# See https://help.github.com/articles/ignoring-files/ for how to configure your environment.
# See https://github.com/github/gitignore/tree/master/Global for a list of global ignore rules.

/node_modules/
/dist/
/lib/
/docs/out/
coverage
.nyc_output/
/src/ThreeExtended/
