/*** Navigation Menu ***/
#menu {
    display: flex;
    position: fixed;
    top: 1vh;
    left: 1vh;
    width: 50vh;
    min-height: 20vh;
    color: white;
    font-family:'Courier New', Courier, monospace;
    border-radius: 10%;
    padding: 1vh;
    z-index: 100;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(0.5vh);
}

#textContainer {
    padding: 1vh;
    width: 90%;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    gap: 2vh;
    padding: 1vh;
}

button {
    border: 1px solid black;
    color: black;
    padding: 0.5vh 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vh;
    border-radius: 10%;
    cursor: pointer;
}

button:hover {
    background-color: #E5E5E5;
    color: black;
}

button:active {
    background-color: #404E73;
    color: white;
}

p {
    color: black;
}

/*** Config GUI ***/
#menuDiv {
    position: fixed;
    top: 1vh;
    right: 1vh;              
    display: flex;
    justify-content: flex-end;
    z-index: 100;
}

.lil-gui.root {
    top: 1vh;
    right: 1vh;
}