

:root {
    color-scheme: light dark;

    --icon-filter: none;
    --arrow-filter: none;
    --itowns-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    
}


html.light {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
    --icon-filter: brightness(0) saturate(100%) invert(68%) sepia(87%) saturate(467%) hue-rotate(180deg) brightness(104%) contrast(87%);
    --arrow-filter: brightness(0) saturate(100%) invert(33%) sepia(55%) saturate(230%) hue-rotate(168deg) brightness(92%) contrast(89%);
}


html, body {
    font-family: var(--itowns-font);
    color: light-dark(#202020, #F0F0F0);
}



#prev-next-container {
    position: fixed;
    left: 45%;
    transform: translateX(-50%);
    bottom: 3vh;
    height: 3rem;
    width: fit-content;
    max-width: 90vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1em 1em;

    z-index: 101;

    background-color: light-dark(white, #0F1419);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3rem;
}


#prev-next-container .scene-number-info {
    font-size: 1.15rem;
}



.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 3rem;
    border: none;
    background-color: #1565c1;  
    cursor: pointer;
    


}

.nav-btn:not(:disabled):hover {
    background-color: #1052AD;
}


.nav-btn:disabled img {
    filter: var(--arrow-filter);
}


#prev-next-container img {
    height: 1.7rem;
}



#scene-info {
    position: fixed;
    right: 1rem;
    bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 370px;
    max-height: 450px;
    border-radius: 1rem;
    background-color: light-dark(white, #0F1419);
    backdrop-filter: blur(0.5vh);
    z-index: 100;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



#logo-container {
    width: 100%;
    box-sizing: border-box;
    border-bottom: #E1EBF5 solid 1px;
    padding: 0.8rem 50%;

    display: flex;
    justify-content: center;
}

#itowns-logo {
    height: 2.3rem;
}

#info-bottom-container {
    padding: 0.8rem 1.2rem 1.2rem 1.2rem;
    overflow-y: auto;
    max-height: 350px;
}



#textContainer {
    position: static;

    display: flex;
    flex-direction: column;
}

#info-bottom-container .scene-number-info {
    background-color: light-dark(#F0F6FF, #061f42);
    border-radius: 0.5em;
    color: light-dark(#1565c1, #8CC1EE);
    padding: 0.2em 0.4em;
    width:fit-content;
    margin: 0;
    margin-top: 1em;

}




#sceneTitle {
    color: light-dark(#1565c1, #8fb9f3);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;/*2.3vh; */
    word-break: break-word;
    overflow-wrap: break-word;
    
}


#sceneDescription {
    line-height: 1.3em;
    word-break: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}


/*** Navigation Menu ***/
#navigation-container {
    position: static;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    gap: 0.6rem;
    margin-top: 0.8rem;
}

#navigation-container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8em;

    padding: 0.4rem 0.6rem;
    border-style: none;
    text-align: center;
    font-weight: bold;
    background-color: light-dark(white, #0F1419);
    color: light-dark(#1565c1, #8CC1EE);
    text-transform: uppercase;
    border-radius: 15px;
    
    white-space: nowrap; 
    flex-shrink: 0;
    cursor: pointer;
}

#navigation-container button:hover {
    background-color: light-dark(#CEE5FB, #09184B);
}

.nav-logo  {
    height: 1.5rem;
    filter: var(--icon-filter);
}


button:hover {
    background-color: #E5E5E5;
    color: black;
}

button:disabled {
    background-color: light-dark(#E5E5E5, #13202c);
    color: #A0A0A0;
    cursor: not-allowed;
}


button:active {
    background-color: #7EA8C5;
    color: white;
}

button.active {
    background-color: #7EA8C5;
    color: white;
}

#sceneDots {
    display: flex;
    flex-direction: column;
    /* gap: min(1.5vh, 1.5vw); */
    align-items: center;
    position: fixed;
    /* left: 2rem; */
    top: 28%;
    z-index: 100;   
}

.scene-dot {
    width: min(2vh, 2vw);
    height: min(2vh, 2vw);
    border-radius: 100px;
    background-color: light-dark(#ffffff, #0F1419 );
    cursor: pointer;
    transition: height 0.1s ease, background-color 0.15s ease, transform 0.15s ease;    
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3);

}

.scene-dot.active {
    background-color: #1565c1;
    height: min(5vh, 7vw);
    transform: scale(1);
}

.scene-dot:hover {
    background-color: #E5E5E5;
}



.dot-wrapper {
    width: 15vw;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    z-index: 110; 
    padding-top: calc(0.6* min(1.5vh, 1.5vw));
    padding-bottom: calc(0.6* min(1.5vh, 1.5vw));
    padding-left: 2rem;
}

.dot-label {
    position: absolute;
    left: 5rem;
    /* transform: translateY(-50%) translateX(-10px); */
    /* transition: all 0.1s ease;  */
    user-select: none;
    display: flex;
    align-items: center;
    width: fit-content;
    height: auto;
    visibility: hidden;
    width: 15vw;
    pointer-events: none;
    
}

.dot-number {
    color: white;
    opacity: 50%;
    font-size: 13rem;
    font-weight: 600;
    
    position: absolute;
    z-index: 50;
    justify-self: left;
}

.dot-title {
    color: white;
    font-size: 2.3rem;
    font-weight: 500;
    
    text-transform: uppercase;
    position: relative;
    z-index: 60;
}


.dot-wrapper:hover .dot-label {
    visibility: visible;
    /* transform: translateY(-50%) translateX(0px);
     transform: translateX(-10px); */
}

.dot-wrapper:hover .scene-dot:not(.active){
    height: min(5vh, 7vw);
    transform: scale(1);
    transition: height 0.1s ease, background-color 0.15s ease, transform 0.1s ease;    
}

/*
.dot-wrapper:hover .scene-dot.active{
    background-color: red;
    height: min(2vh, 2vw);
    transform: scale(1);
    transition: height 0.1s ease, background-color 0.15s ease, transform 0.1s ease;    
}
    */


body:has(.dot-wrapper:hover) .scene-dot.active{
    height: min(2vh, 2vw);
    transform: scale(1);
    transition: height 0.1s ease, background-color 0.15s ease, transform 0.1s ease;    
}
    



/*** Feature Picking Info ***/
#feature-picking-info {
    position: fixed;
    top: 1vh;
    right: 1vh;
    padding: 0.2vh 2vh 1vh 2vh;
    border-radius: 1rem;
    overflow-y: auto;

    font-size: min(1.5vh, 2vw);

    max-width: 25vw;
    max-height: 45vh;
    background-color: light-dark(white, #0F1419);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3);

    z-index: 100;

    pointer-events: auto;
}

#feature-picking-info.no-feature-selected {
    padding: 1vh 1vh;
} 


.feature-name {
    text-transform: uppercase;
    color: light-dark(#1565c1, #8CC1EE);
    font-size: 1.2rem;
}

/*** Point Cloud Config ***/
#point-cloud-config {
    position: fixed;
    top: 1vh;
    left: 1vh;
    padding: 1vh 1.5vh;
    border-radius: 1vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: min(1.5vh, 2vw);
    color: black;

    width: 25vw;
    max-height: 45vh;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(0.5vh);

    z-index: 100;
}

#point-cloud-buttons {
    width: 100%;
    display: flex;
    justify-self: center;
}

#point-cloud-config button {
    width: 50%;
}

#point-cloud-config button:first-child {
    border-right: none;
    border-radius: 0.5rem 0 0 0.5rem;
}

#point-cloud-config button:last-child {
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
}


/* RESPONSIVE */

@media (max-width: 1024px) {


     #scene-info {
        width: 300px;
     }

    #navigation-container button {
        font-size: 0.8em;
    }
 
    #prev-next-container {
        gap: 1rem;
        padding: 0.8em 0.8em;
    }
}

@media (max-width: 768px) {
    #prev-next-container {
        bottom: auto;
        top: 1vh;
        left: 50%;
        transform: translateX(-50%);
        gap: 1rem;
        height: auto;
        padding: 0.7em 0.7em;
        z-index: 101;
    }
    
    #prev-next-container .scene-number-info {
        font-size: 0.9rem;
    }
    
    .nav-btn {
        width: 2.5em;
        height: 2.5em;
    }
    
    #prev-next-container img {
        height: 1.3rem;
    }

    #sceneDots {
        display: none;
    }
  
}

@media (max-width: 480px) {
    #prev-next-container {
        gap: 0.8rem;
        padding: 0.6em 0.6em;
        font-size: 0.8rem;
    }
    
    .nav-btn {
        width: 2.2em;
        height: 2.2em;
    }
    
    #prev-next-container img {
        height: 1.1rem;
    }

}