<?js
    var self = this;
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="styles/itowns.css">
</head>

<body data-spy="scroll" data-target="nav" onload="onLoad()">

<div id="main">
    <iframe id="content" class="scroll-section" frameborder="0" height="100%"></iframe>
</div>

<nav class="scroll-section">
    <img id="goToHome" src="images/itowns_logo.png" width="245px" onclick="goTo('home.html', 'home')"/>
    <div class="filterBlock">
        <input type="text" id="filterInput" placeholder="Type to filter"
        autocorrect="off" autocapitalize="off" spellcheck="false" />
        <a href="#" id="clearFilterButton">x</a>
    </div>
    <?js= self.partial('nav.tmpl', content) ?>
</nav>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
<script type="text/javascript">
    var baseURI = document.baseURI;

    function bindIframe() {
        var navLinks = document.getElementsByClassName('nav-link');
        for (var i = 0; i < navLinks.length; i++) {
            navLinks[i].addEventListener('click', function(e) {
                e.preventDefault();
                var target = e.target.localName === 'b' ? e.target.parentNode : e.target;
                var url = target.href.replace('#', '') + '.html';
                var slug = target.hash;
                goTo(url, slug);
            });
        }

        // load page if setted
        if (document.location.hash) {
            var url = document.location.href.replace('#', '') + '.html';
            goTo(url);
        } else {
            goTo('home.html', 'home');
        }
    };

    function goTo(url, slug) {
        if (slug) window.location.hash = slug;
        var iframe = document.getElementById('content');
        iframe.src = url;
    };

    // Functionality for search/filter input field
    var filterInput = document.getElementById('filterInput');
    filterInput.oninput = function (event) {
        updateFilter();
    };

    // Functionality for filter clear button
    var clearFilterButton = document.getElementById('clearFilterButton');
    clearFilterButton.onclick = function (event) {
        event.preventDefault();
        filterInput.value = '';
        updateFilter();
    };

    var navigation = [];
    function initNavigation() {
        var sections = document.getElementsByClassName('nav-section');
        for (var i = 0; i < sections.length; i++) {
            var section = { dom: sections[i], links: [] };

            var links = sections[i].parentElement.getElementsByClassName('nav-link');
            for (var j = 0; j < links.length; j++) {
                section.links.push(links[j]);
            }

            navigation.push(section);
        }
    }

    // Filtering
    function updateFilter() {
        var regExp = new RegExp(filterInput.value, 'gi');
        for (var i = 0; i < navigation.length; i++) {
            var section = navigation[i];
            var visibleLinks = 0;
            for (var j = 0; j < section.links.length; j++) {
                var link = section.links[j];
                var name = link.innerText;
                var filterResults = name.match(regExp);

                if (filterResults && filterResults.length > 0) {
                    // Accentuate matching characters
                    for (var k = 0; k < filterResults.length; k++) {
                        var result = filterResults[k];
                        if (result !== '') {
                            name = name.replace( result, '<b>' + result + '</b>' );
                        }
                    }
                    link.parentElement.classList.remove('hidden');
                    link.innerHTML = name;
                    visibleLinks++;
                } else {
                    // Hide all non-matching page names
                    link.parentElement.classList.add('hidden');
                }
            }

            if (visibleLinks > 0) {
                section.dom.parentElement.classList.remove('hidden');
            } else {
                section.dom.parentElement.classList.add('hidden');
            }
        }
    }

    function onLoad() {
        bindIframe();
        initNavigation();
    }
</script>
</body>
</html>
