/* GENERAL */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #202020;
    font-size: 13px;
}

body {
    overflow-x: auto;
}

.scroll-section {
    height: 100%;
    position: absolute;
}

/* NAVIGATION (LEFT) */
nav {
    width: 300px;
    padding: 0 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

nav img {
    margin-top: 20px;
}

.nav-section {
    margin-top: 0px;
}

nav .package {
    padding-bottom: 20px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
}

a, a:visited, nav ul a, nav ul a:visited {
    cursor: pointer;
    color: #6091b2;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: #6091b2aa;
}

nav h2 {
    margin-top: 26px;
}

#goToHome {
    cursor: pointer;
}

.filterBlock {
    margin: 10px 0px;
}

#filterInput {
    padding: 5px;
}

#clearFilterButton {
    position: absolute;
    right: 2rem;
    top: 149px;
}

/* MAIN SECTION (RIGHT) */
#main {
    width: calc(100% - 300px);
    height: 100%;
    display: inline;
    position: fixed;
    top: 0;
    right: 0;
}

#content {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 300px);
}

/* IFRAME CONTENT */
section {
    max-width: 50rem;
    margin: auto;
    padding: 2rem;
}

#homepage {
    height: 400px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #4b4b4b;
}

h1 {
    font-size: 28px;
}

header h1 {
    color: #6091b2;
    width: max-content;
}

h2 {
    font-size: 20px;
    margin-bottom: 26px;
}

header h2, article h2 {
    color: #ffa4a3;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 16px;
    margin-top: 18px;
}

.property h3, .method h3, .typedef h3, .event h3 {
    font-family: Consolas, monospace;
    width: max-content;
}

.method .type, .property .type, .typedef .type {
    color: #968d86;
}

.method-name, .property-name, .typedef-name, .event-name {
    color: #6091b2;
}

ul.params {
    padding-left: 20px;
}

.hidden {
    display: none;
}

code {
    padding: 1px 5px;
}

code, .prettyprint code {
    background-color: #6091b220;
}

.prettyprint.source {
    width: max-content;
}

hr {
    color: #ccc0b640;
    margin: 26px 0;
}

hr.title-divider {
    color: #ccc0b6;
    margin: 20
}

p, ul, ol {
    max-width: 780px;
    text-align: justify;
}

.params p {
    display: inline;
}
