/* CONSTS */
:root {
    --text_stroke_display: "none";
    --text_stroke_width: 0px;
    --text_stroke_color: "white";

    color-scheme: light dark;
}

html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: light-dark(#202020, #F0F0F0);
    font-size: 13px;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.text a {
    color: lightcoral;
}

.text a:hover {
    color: #f0c0c0;
}

.text>ul {
    padding: 0 2rem;
}

@media (max-width: 600px) {
    .text {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

/* MAIN SECTION (RIGHT) */
#main {
    width: calc(100% * 9 / 16);
    height: 100%;
    display: inline;
    position: fixed;
    top: 0;
    right: 0;
}

#content {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% * 9 / 16);
}

#viewerDiv>canvas:nth-child(2) {
    transition-duration: 0ms;
}

/* EDITOR (LEFT) */
#editor-panel {
    background-color: light-dark(white, #202030);
    width: calc(100% * 7 / 16);
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* Drawer-style animation on resize */
    transition-duration: 200ms;
}

#editor-panel>* {
    transition-duration: 200ms;
}

#editor-panel>hr {
    margin: 0 1em;
}

#editor-collapse {
    display: flex;
    position: absolute;
    background-color: #0027;
    border-width: 0;
    top: 49%;
    left: calc(100% * 7 / 16 - 1em);
    width: 1em;
    aspect-ratio: 1 / 2;
    flex-direction: row;
    flex: 0;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition-duration: 200ms;
    padding: 1px;
}

#editor-collapse:hover {
    opacity: 1 !important;
    transition-duration: 100ms;
}

#editor-collapse>svg {
    width: 5em;
    height: 5em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

.switch {
    display: flex;
    flex-direction: row;
    gap: .2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switch .checkmark {
    display: inline-block;
    position: relative;
    top: .15em;
    width: 1em;
    height: 1em;
    background-color: #7ea8c5;
    border-radius: .3em;
}

.switch>* {
    margin: 0;
}

.switch:has(input:disabled) {
    cursor: default;
}

.switch:has(input:disabled) .checkmark {
    background-color: light-dark(#c0c0c0, #303e63);
}

.switch:has(input:checked) {
    font-weight: bold;
}

.switch:hover .checkmark {
    background-color: #404e73;
    cursor: pointer;
}

.checkmark:after {
    content: "";
    position: relative;
    display: none;
}

.switch input:checked~.checkmark:after {
    display: block;
}

.switch .checkmark:after {
    left: .29em;
    top: .1em;
    width: .2em;
    height: .5em;
    border: solid white;
    border-width: 0 .3em .3em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.switch input:disabled~label {
    color: #c0c0c0;
}

#editor-header {
    display: flex;
    flex-flow: row;
    align-content: flex-start;
    font-family: Consolas, Monaco, "Andale Mono", monospace;
}

#editor-header> :not(hr) {
    padding: 0 2em;
}

#editor-header>div {
    display: flex;
    flex-flow: column;
    padding: 2em;
}

#editor-header>hr {
    height: 100%;
    margin: 0;
}

#editor-header> :nth-child(1) {
    justify-content: center;
}

#editor-header> :nth-child(3) {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.selector {
    border: 0;
    background-color: #404e73;
    color: white;
    padding: 1em;
    border-radius: 0.3em;
    cursor: pointer;
}

#example-selector {
    width: 30%;
    flex-grow: 3;
}

#font-size-selector {
    width: 4em;
    cursor: text;
}

#editor-header> :nth-child(3)>div {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    gap: inherit;
}

.header-button {
    width: 3em;
    height: 3em;
    border: 0;
    cursor: pointer;
}

@media(prefers-color-scheme: light) {
    .header-button {
        filter: invert(28%) sepia(13%) saturate(1533%) hue-rotate(186deg) brightness(97%) contrast(90%);
    }

    .header-button:hover {
        filter: invert(70%);
    }

    .header-button:active {
        filter: invert(52%) sepia(67%) saturate(5866%) hue-rotate(168deg) brightness(104%) contrast(105%);
    }
}

@media(prefers-color-scheme: dark) {
    #itowns-logo {
        filter: drop-shadow(-1px -1px 0.5px #7ea8c5) drop-shadow(-1px 1px 0.5px #7ea8c5) drop-shadow(1px -1px 0.5px #7ea8c5) drop-shadow(1px 1px 0.5px #7ea8c5);
    }

    .header-button {
        filter: brightness(0) saturate(100%) invert(64%) sepia(70%) saturate(186%) hue-rotate(161deg) brightness(89%) contrast(86%);
    }

    .header-button:before {
        background-color: white;
        background-size: 1em;
    }

    .header-button:hover {
        filter: invert(70%);
    }

    .header-button:active {
        filter: invert(52%) sepia(67%) saturate(5866%) hue-rotate(168deg) brightness(104%) contrast(105%);
    }
}

#run-button {
    background: url("../images/run-icon.svg") center no-repeat;
    background-size: 3em;
}

#share-button {
    background: url("../images/share-icon.svg") center no-repeat;
    background-size: 3em;
}

.CodeMirror {
    font-size: 1em;
    border-radius: .5em;
}

.CodeMirror * {
    overscroll-behavior: none;
    transition-duration: 0ms;
}

@media (width > 1700px) {
    #editor-header {
        flex-flow: row;
        max-height: 200px;
    }

    .CodeMirror {
        height: calc(100% - 200px - 1em);
    }
}

@media (width <=1700px) {
    #editor-header> :nth-child(1) {
        flex-flow: row;
        gap: 2em;
        align-items: center;
    }

    #editor-header {
        flex-flow: column;
        max-height: 200px;
    }

    .CodeMirror {
        height: calc(100% - 200px - 2em);
    }

    #editor-header>hr {
        margin: 0 1em;
    }

    #editor-header> :nth-child(3) {
        padding-top: 1.5em;
    }
}

@media (width < 1100px) {
    #editor-panel {
        width: 0%;
        opacity: 0;
    }

    #content {
        width: 100%;
    }
}

/* IFRAME/EXAMPLE CONTENT */
#viewerDiv {
    height: 100%;
}

#viewerDiv>canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#menuDiv {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 0;
}

#menuDiv,
.ac {
    /* Disable select DAT.gui */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2 !important;
}

#miniDiv {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20;
    bottom: 20;
    color: white;
}

#divScaleWidget {
    display: block;
    position: absolute;
    right: 135px;
    bottom: 20;
    border: 2px solid black;
    border-top: none;
    text-align: center;
    display: block;
    background-image: linear-gradient(rgba(200, 200, 200, 0.3),
            rgba(200, 200, 200, 0.3));
    width: 200px;
    height: 18px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
