h4.name {
  background-color: rgba(86, 134, 172, 1);
}

nav > ul > li > a { 
  color: #09085F;
}

nav > ul > li > ul > li > a {
  color: rgba(86, 134, 172, 1);
}

nav > ul > li > a:hover {
  color: rgba(86, 134, 255, 1);
}

nav > ul > li > ul > li > a:hover {
  color: rgba(86, 134, 255, 1);
}

nav > h2 > a {
  color: rgba(86, 134, 172, 1) !important;
}

nav > h2 > a:hover {
  color: rgba(86, 134, 255, 1) !important;
}

h4 > .signature {
  font-size: 0.8em;
  color: white;
}

h4 > .type-signature {
  font-size: 0.8em;
  color: white;
}

.prettyprint code {
    line-height: 18px;
    display: block;
    background-color: rgba(53,75,96,1.0);
}

footer > a {
  color: rgba(86, 134, 172, 1);
}

article a {
  border-bottom: 1px solid #ddd;
  color: rgba(86, 134, 172, 1);
}

article a:hover, article a:active {
  border-bottom-color: rgba(86, 134, 172, 1);
}

span.param-type, .params td .param-type, .param-type dd {
  color: rgba(86, 134, 172, 1);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.param-type dt, .param-type dd {
  display: inline-block;
}

.param-type {
  margin: 14px 0;
}

code {
  background-color: rgba(86, 134, 172, 0.2);
}

#para {
  display:flex; 
  justify-content:space-around;
}

.page-title {
  display: flex; justify-content:space-around;
}